# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db